*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  background-color: #fff;
  color: #9698a6;
  overflow-x: hidden; }

.row {
  max-width: 120rem;
  margin: 0 auto;
  padding: 6em 0; }

.grid_4-2-1_col {
  grid-template-columns: repeat(4, 1fr);
  /*
    @media only screen and (min-width: ...) {
        grid-template-columns: repeat(1, 1fr)
    }
    @media only screen and (min-width: ...) {
        grid-template-columns: repeat(2, 1fr)
    }
    @media only screen and (min-width: ...) {
        grid-template-columns: repeat(4, 1fr)
    }
    */ }

.logo {
  width: 100%; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  color: #2d314d;
  font-weight: 500; }

.heading-1 {
  font-size: 3.1em; }

.heading-2 {
  font-size: 2.2em; }

.heading-3 {
  font-size: 1.4em; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1em 2.8em;
  border-radius: 10em;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0.3rem 1rem #0003;
  transition: box-shadow .2s, transform .2s ease-in; }
  .btn:hover {
    box-shadow: 0 0.5rem 1.3rem #0003;
    transform: translateY(-2px); }
  .btn:active {
    box-shadow: 0 0.3rem 1rem #0003;
    transform: translateY(0); }

.btn,
.btn:link,
.btn:visited {
  background: linear-gradient(to right, #31d35c, #2bb7da);
  transition: opacity .2s; }
  .btn:hover,
  .btn:link:hover,
  .btn:visited:hover {
    opacity: 75%; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 15rem;
  height: 7rem;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 3rem #00000014; }
  .navigation__logo-box {
    flex-basis: 16rem;
    transform: translateY(4px); }
  .navigation__nav-list {
    display: flex;
    list-style: none;
    align-self: stretch; }
  .navigation__nav-item {
    margin: 0 1rem; }
  .navigation__nav-link:link, .navigation__nav-link:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 0 1.5rem;
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    transition: background-color .2s, transform .15s; }
    .navigation__nav-link:link::after, .navigation__nav-link:visited::after {
      content: "";
      background-image: linear-gradient(to right, #31d35c, #2bb7da);
      position: absolute;
      bottom: 0;
      width: 0;
      height: 4px;
      transition: width .15s; }
    .navigation__nav-link:link:hover, .navigation__nav-link:visited:hover {
      background-color: #fafafa; }
      .navigation__nav-link:link:hover::after, .navigation__nav-link:visited:hover::after {
        width: 100%; }
  .navigation__btn {
    font-size: 1.4rem; }

.header {
  background: #fafafa url("../images/bg-intro-desktop.svg") no-repeat;
  background-position: 47vw bottom;
  background-size: 116rem;
  position: relative; }
  .header__inner {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8.5em 1em;
    display: flex;
    align-items: center; }
  .header__text-box {
    display: grid;
    flex: 0 1 45rem;
    grid-row-gap: 1.65em;
    justify-items: start; }
  .header__btn {
    font-size: .8em; }
  .header__img {
    position: absolute;
    height: 60vw;
    top: -8vw;
    right: -8vw; }

.features {
  background-color: #f3f4f6; }
  .features > *:first-child {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-row-gap: 7rem;
    grid-column-gap: 0.2rem; }
  .features__text-box {
    display: grid;
    grid-row-gap: 1.5em;
    grid-column: 1 / -1;
    width: 56%; }

.feature {
  display: grid;
  grid-row-gap: 1.3em;
  border-radius: .6rem;
  padding: 2em .88em;
  transition: transform .2s, background-color .2s; }
  .feature__paragraph {
    font-size: 0.9em; }
  .feature:hover {
    transform: translateY(-0.5rem);
    background-color: #e7eaee; }

.articles {
  background-color: #fafafa; }
  .articles > *:first-child {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-row-gap: 5rem;
    grid-column-gap: 2rem;
    align-items: start; }
  .articles__text-box {
    grid-column: 1 / -1; }

.article {
  display: grid;
  grid-template-rows: 23rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  transition: transform .2s, background-color .2s; }
  .article__thumbnail {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .article__author {
    font-size: .7em; }
  .article__content {
    padding: 1.7em 1.3em;
    display: grid;
    grid-row-gap: .5em; }
  .article__paragraph {
    font-size: .8em; }
  .article:hover {
    transform: translateY(-0.5rem);
    background-color: #edeff2; }
