.articles {  // grid
    //@extend %grid_4-2-1_col;
    background-color: $color-grey-light;
    padding: 0 2.5em;

    & > *:first-child {
        display: grid;
        grid-template-rows: repeat(2, min-content);
        row-gap: 5rem;
        column-gap: 2rem;

        align-items: start;

        @include media($bp-sm) {
            row-gap: 3rem;
            column-gap: 1.6em;
        }
    }

    &__text-box {  // grid-item
        grid-column: 1 / -1;
    }
}

.article {  // grid-item, grid
    display: grid;
    grid-template-rows: 23rem;

    border-radius: 5px;
    overflow: hidden;
    background-color: $color-white; 



    transition: transform .2s, background-color .2s;

    &__thumbnail {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__title {
        
    }

    &__author {
        font-size: .7em;
    }

    &__content {
        padding: 1.7em 1.3em;
        display: grid;
        row-gap: .5em;
    }

    &__paragraph {
        font-size: .8em;
    }

    &:hover {
        transform: translateY(-.5rem);
        background-color: darken($color-grey, 2%);

        & .article__title {
            color: $color-primary-2;
        }
    }
}
