
%btn-base {
    display: inline-block; 

    padding: 1em 2.8em;
    border-radius: 10em;

    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-align: center;


    box-shadow: 0 0.3rem 1rem #0003;
    transition: box-shadow .2s, transform .4s cubic-bezier(.69,.17,.32,.89);

    &:hover {
        box-shadow: 0 0.5rem 1.3rem #0003;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.3rem 1rem #0003;
        transform: translateY(0);
    }

}


.btn,
.btn:link,
.btn:visited {
    @extend %btn-base;
    background: linear-gradient(
        to right,
        $color-primary-2,
        $color-primary-3
    );

    transition: opacity .2s;

    &:hover {
        opacity: 75%;
    }
}
