.footer {  // flex-box
    background-color: $color-primary-1;
    color: $color-white;

    &__inner {
        display: flex;
        justify-content: flex-start;

        max-width: 120rem;
        margin: 0 auto;
        padding: 2em 0;

        // background-color: lightyellow;
    }

    &__top-container { // flex-item, grid
        display: grid;
        align-content: space-between;
        justify-items: center;

        margin-right: 14%;

        // background-color: lightskyblue;
    }

    &__middle-container { // flex-item
        // 
        display: flex;
        margin-right: auto;
        // background-color: lightcoral;
    }

    &__bottom-container { // flex-item, grid
        display: grid;
        // background-color: lightgreen;
        justify-items: end;
        grid-row-gap: .3em;
    }


    &__logo-box {
        // height: 2rem;

    }


    &__social {
        display: flex;
        justify-content: space-between;
        justify-self: stretch;

        svg {
            width: 3rem;
            height: 3rem;
        }
    }
    // FIX this
    &__social-icon {
        &:hover {
            fill: $color-primary-2;
            color: $color-primary-2;
        }
    }


    &__nav-list {  // grid
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 11em);
        // grid-template-rows: repeat()
        align-content: space-between;
    }

    &__nav-item {  // grid-item

    }

    &__nav-link:link,
    &__nav-link:visited {
        color: currentColor;
        text-decoration: none;
        font-size: .8em;
        transition: color .2s;
        &:hover {
            color: $color-primary-2;
        }
    }


    &__btn {
        font-size: .7em;
    }

    &__copyright {
        font-size: .8em;
        color: $color-grey-dark;
    }
    .attribution {
        font-size: 1.1rem;
        text-align: center;
        color: $color-grey-dark;
    
        a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
      }
    }

}