.footer {  // flex-box
    background-color: $color-primary-1;
    color: $color-white;
    padding: 0 2.5em;

    &__inner {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        max-width: 120rem;
        margin: 0 auto;
        padding: 2em 0;

        // background-color: lightyellow;

        @include media($bp-xs) {
            // flex-direction: column;
            // align-items: center;
        }
    }

    &__top-container { // flex-item, grid
        display: grid;
        align-content: space-between;
        justify-items: center;
        row-gap: 2em;

        margin-right: 14%;
        margin-bottom: 3em;
        @include media($bp-sm) {
            margin-right: auto;
        }
        
        @include media($bp-xs) {
            flex: 0 0 60%;
            flex-direction: column;
            margin: 0 auto 2em;
        }
    }

    &__middle-container { // flex-item
        // 
        display: flex;
        flex: 0 0 40%;
        margin-bottom: 3em;
        // background-color: lightcoral;
        @include media($bp-xs) {
            flex: 0 0 100%;
            flex-direction: column;
            margin-bottom: 2em;
        }
    }

    &__bottom-container { // flex-item, grid
        display: grid;
        // background-color: lightgreen;
        justify-items: end;
        align-items: start;
        row-gap: .3em;
        margin-left: auto;


        @include media($bp-sm) {
            flex: 0 0 100%;
            justify-content: center;
            justify-items: center;
            // row-gap: 2em;
        }
    }


    &__logo-box {
        // height: 2rem;

    }


    &__social {
        display: flex;
        justify-content: space-between;
        justify-self: stretch;

        svg {
            width: 3rem;
            height: 3rem;
        }
    }
    // FIX this
    &__social-icon {
        &:hover {
            filter: sepia(1) saturate(70) hue-rotate(80deg) brightness(0.7)
        }
    }


    &__nav-list {  // grid
        flex: 0 0 100%;

        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, minmax(10em, 1fr));
        // grid-template-rows: repeat()
        align-content: space-between;

        @include media($bp-xs) {
            flex: 0 0 100%;
            justify-content: center;
            justify-items: center;
            grid-template-columns: minmax(10em, 1fr);
            // row-gap: 1em;
            
            // font-size: 1.4em;
        }
    }

    &__nav-item {  // grid-item
        // width: 100%;
        padding: .4em 0;
    }

    &__nav-link:link,
    &__nav-link:visited {
        color: currentColor;
        text-decoration: none;
        font-size: .8em;
        transition: color .2s;
        &:hover {
            color: $color-primary-2;
        }
    }


    &__btn {
        font-size: .7em;
        margin-bottom: 1em;
    }

    &__copyright {
        font-size: .8em;
        color: $color-grey-dark;
    }
    .attribution {
        font-size: 1.1rem;
        text-align: center;
        color: $color-grey-dark;
    
        a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
      }
    }

}