.header { // flex-box
    background: $color-grey-light url("../images/bg-intro-desktop.svg") no-repeat;
    background-position: 47vw bottom;
    background-size: 116rem;
    
    position: relative;
    

    &__inner {
        max-width: 120rem;
        margin: 0 auto;
        padding: 8.5em 1em;
        display: flex;
        align-items: center;
    }

    &__text-box { // flex-item, grid
        // background-color: lightgreen;
        display: grid;
        flex: 0 1 45rem;

        grid-row-gap: 1.65em;
        justify-items: start;
    }

    &__btn { // grid-item
        font-size: .8em;
    }

    // &__paragraph { // grid-item

    // }

    &__mockups { // flex-item

    }

    &__img { // flex-item
        position: absolute;
        height: 60vw;
        top: -8vw;
        right: -8vw; 
    }
}